.game-view {
	background-color: var(--background-color-secondary);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	header {
		background-color: var(--background-color-primary);
		color: var(--secondary-color);
		box-shadow: var(--box-shadow);
		padding: 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 7%;

		h1,
		p {
			margin: 0;
		}
	}

	&-chat {
		height: calc(100% - (7% + 15%));
		overflow-y: auto;

		h1 {
			text-align: center;
			margin: 0;
			font-size: 50px;
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}

	.game-view-leave-game-button {
		transform: scaleX(-1);
	}

	footer {
		display: flex;
		justify-content: space-evenly;
		height: 15%;
		align-items: center;

		.button {
			display: flex;
			border-radius: 50%;
			height: 60px;
			width: 60px;
			justify-content: center;
			align-items: center;

			.MuiButton-label {
				font-size: 30px;
				font-weight: 600;
			}
		}
	}
}
